In [ ]:
## I am unsure how to connect a database to this Jupyter Notebook,
## But this is from an exercise that I did in MySQL



SELECT * FROM us_state WHERE name = "California"

SELECT name, capital FROM us_state WHERE name = "Oregon"

SELECT * FROM us_state WHERE area_size > 10000

SELECT * FROM us_state ORDER BY area_size DESC

SELECT * FROM us_state WHERE name LIKE "M%" ORDER BY name

SELECT * FROM us_state WHERE abbreviation LIKE "N%" ORDER BY capital 

INSERT INTO club_member
first_name = "Nicholas",
last_name = "De Leon",
phone_number = "4436803727"

DELETE FROM club_member 
WHERE first_name = "John"
AND last_name = "Doe"

SELECT club_member.member_id, first_name,
last_name, description, amount, due_date
FROM club_member, invoice
WHERE club_member.member_id =
invoice.member_id